<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />

    <link rel="stylesheet" href="/styles/partials/page-about.css" />

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <title>Proffy | Sua plataforma de estudos online</title>
</head>
<body id="page-about">
    <div id="container">
      <header class="page-header">
        <div class="top-bar-container">
          <a href="/">
            <img src="/images/icons/back.svg" alt="Voltar" />
          </a>
          <img src="/images/logo.svg" alt="Proffy" />
        </div>

        <div class="header-content">
          <strong>Sobre o Proffy</strong>
        </div>
      </header>
        <main>
            <p>
                O Proffy é uma aplicação que feio para facilitar a vida de quem quer estudar e dar aulas. Como Funciona? Você pode ir na página "Estudar" e Procurar o professor certo para você ou se preferir dar aulas efetuar seu cadastro em "Dar aulas". Para dar aulas basta efetuar o cadastro ( Nome completo, Link da sua foto, Whatsapp, Biografia, Matéria, Custo da sua hora/aula e Dia da Semana: de tal hora a tal hora ) e pronto, Porem para estudar você precisa pesquisar pela Matéria, Dia da Semana Hora que quer estudar e pronto. Lembrando que o Proffy é um site para você encontrar seu Professor ou para dar aulas, mas todas as aulas são feitas por outros meios por exemplo Whatsapp ( Que fica disponivel para o aluno a qualquer momento ). 
            </p>
        </main>
  </div>
  </body>
</html>